
 * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
      text-align: center;
      font-style: italic;
      margin: 30px 0px 30px 0px;
}

.row {
    content: "";
  display: table;
  clear: both;
  text-align: center;
position: relative;
margin: 0 auto;
}

div >div{
    background-color: gray;
    border: solid;
    width: 300px;
    display: inline-block;
    margin: 15px;


}
.side{font-style: italic;}
#p1{
    background-color:burlywood;
    border-bottom: solid;
    border-left: solid;
    display: block;
    float: right;
    width: 150px;
}
#p2{
    color: white;
    background-color:rgb(240, 31, 16);
    border-bottom: solid black;
    border-left: solid black;
    display: inline;
    float: right;
    width: 150px;
}
#p3{
    background-color:rgb(238, 255, 0);
    border-bottom: solid;
    border-left: solid;
    display: inline;
    float: right;
    width: 150px;
}
p{
    clear: both;
    padding: 10px;

}

/********** desktop  devices only **********/
@media (min-width: 992px) {
    .main1 {
        float:inherit;
        width: 23.33%; 
  }
}
/********** tablet  devices only **********/
@media (min-width: 768px) and (max-width: 991px){
    .main1 {
            float: inherit;
            width: 30%;
            margin-left: 15px;
        }
        .main2 {
            float: inherit;
            width: 63%;
            margin-left: auto;
            margin-right: auto;
        }
    }
/********** mobile  devices only **********/
@media (max-width: 768px){
    .main1 {
            float: inherit;
            width: 60%;
        }
    }
